# EditorConfig helps developers define and maintain consistent
# coding styles across different editors and IDEs.

# Top-most EditorConfig file
root = true

# Indentation style
[*]
indent_style = space
indent_size = 4

# Encoding
[*.py]
charset = utf-8

# Line endings
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

